body,
input,
textarea,
select,
button {
    font-family: Sans-Serif;
    font-size: 12px;
}

body {
    color: #000000;
    line-height: 16px;
    margin: auto;
    padding: initial;
}

a {
    text-decoration: none;
    color: #0EA7A0;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: underline;
}

#loading {
    /*background: #FFFFFF url(/content/img/loading.gif);*/
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-size: 100% auto;
    border-radius: 50%;
    z-index: 3000;
    display: none;
}

.cover {
    max-width: 200px;
    max-height: 200px;
}

.moreimg {
    max-width: 65px;
    max-height: 65px;
    margin: 1px;
}

.input {
    display: block;
    width: 95%;
    padding: 5px;
    margin: 5px 0 5px 0;
    border: 1px solid #BCBCBC;
}

.input2 {
    padding: 5px;
    margin: 10px 0 10px 0;
    border: 1px solid #BCBCBC;
}

.button {
    background: #0EA7A0;
    color: #FFFFFF;
    border: 0;
    padding: 5px;
    cursor: pointer;
}
.button:hover {
    background: #0b938e;
}

#window {
    background: rgba(0, 0, 0, 0.6) no-repeat center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    overflow-y: auto;
    display: none;
}

#window .window_content {
    background: #FFFFFF;
    width: 800px;
    margin: auto;
    box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    z-index: 1000;
}

.window_close {
    position: fixed;
    top: 20px;
    margin-left: 820px;
}

.err {
    color: #FF0000;
    display: inline;
    margin-left: 10px;
}
.errpanel {
    color: #FF0000;
}

.panel {
    background: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 20px 5px 20px;
    border-bottom: 2px solid #0EA7A0;
    z-index: 5;
}

.panel_top {
    padding: 5px 0 5px 0;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #CDCDCD;
}

.panel_top a {
    padding: 0 10px 0 10px;
    font-weight: bold;
    border-right: 2px solid #666666;
}

#reset-all-filters {
    display: none;
}
#reset-all-filters a {
    color: #a05f83;
}

.last-upd-filter-control.active {
    color: #000;
    text-decoration: underline;
    cursor: default;
}

.content {
    margin-top: 150px;
}

h2 {
    border-bottom: 2px solid #0EA7A0;
    padding: 0 0 10px 20px;
    margin-top: 0;
}

.block {
    border: 1px solid #DDDDDD;
    padding: 20px;
}

.navi {
    position: fixed;
    right: 0;
    top: 108px;
    padding: 5px;
    text-align: right;
    z-index: 5;
}

.navi a {
    padding: 5px;
    cursor: pointer;
}
.navi a.point {
    color: black;
}

.navi .nav-item-current {
    font-weight: bold;
    padding: 5px;
}

table {
    width: 100%;
    margin: 150px 0 0 20px;
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    border-bottom: none !important;
}

th {
    font-weight: bold;
    padding: 5px;
    border: 0;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

td {
    border: 0;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding: 5px;
    text-align: center;
}

.dataTables_empty {
    color: #aa0000;
}

table.dataTable.compact thead th, table.dataTable.compact thead td {
    padding: 3px;
}

table.dataTable thead .sorting {
    background: initial;
    color: #0EA7A0;
}
table.dataTable thead .sorting:hover {
    text-decoration: underline;
}

table.dataTable thead .sorting_asc {
    background: initial !important;
}

table.dataTable thead .sorting_desc {
    background: initial !important;
}

table img {
    max-width: 100px;
    margin-top: 1px;
}

table .row-edit{
  cursor: pointer;
  color: #0ea7a0;
}

table .row-selected {
    background-color: #fffbf5 !important;
}

.dataTables_overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 3;
}
.dataTables_overlay .dataTables_processing {
    position: fixed;
    left: 5px;
    width: 99%;
    background-color: #ecf2f2bd;
    border: 1px solid #0ea7a0;
    color: #090909;
    margin-left: inherit;
    z-index: 4;
}

.table-header-context-menu {
    display: none;
}

.context-menu .window_block {
    position: absolute;
    display: none;
}

.context-menu:hover .window_block {
    display: block;
}

th.context-menu {
    color: #0ea7a0;
}

th.context-menu::after {
    content: "▼";
}

th.context-menu u {
    color: #000;
}

.window_block {
    background: #FFFFFF;
    position: absolute;
    padding: 0 10px 0 10px;
    margin-top: 4px;
    border: 1px solid #dddddd;
    text-align: left;
    width: 150px;
}

.window_block a,
.window_block u {
    display: block;
    padding: 5px;
}

/*
 * Loader ***************
 */
.pe-loader {
    position: absolute;
    /* margin: auto; */
    margin: 80px auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    z-index: 10000;
    box-shadow: 19px 19px rgb(248, 23, 61), -19px 19px rgb(223, 223, 223), -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223);
    -o-box-shadow: 19px 19px rgb(248, 23, 61), -19px 19px rgb(223, 223, 223), -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223);
    -ms-box-shadow: 19px 19px rgb(248, 23, 61), -19px 19px rgb(223, 223, 223), -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223);
    -webkit-box-shadow: 19px 19px rgb(248, 23, 61), -19px 19px rgb(223, 223, 223), -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223);
    -moz-box-shadow: 19px 19px rgb(248, 23, 61), -19px 19px rgb(223, 223, 223), -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223);
    animation: cssload-spin ease infinite 4.6s;
    -o-animation: cssload-spin ease infinite 4.6s;
    -ms-animation: cssload-spin ease infinite 4.6s;
    -webkit-animation: cssload-spin ease infinite 4.6s;
    -moz-animation: cssload-spin ease infinite 4.6s;
}

.pe-loader.pe-fixed {
    position: fixed;
    top: 30%;
}

@keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 19px 19px rgb(248, 23, 61), -19px 19px rgb(223, 223, 223), -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223);
    }
    25% {
        box-shadow: -19px 19px rgb(223, 223, 223), -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223), 19px 19px rgb(248, 23, 61);
    }
    50% {
        box-shadow: -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223), 19px 19px rgb(248, 23, 61), -19px 19px rgb(223, 223, 223);
    }
    75% {
        box-shadow: 19px -19px #dfdfdf, 19px 19px #4f4d49, -19px 19px #dfdfdf, -19px -19px #4f4d49;
    }
}

@-o-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 19px 19px rgb(248, 23, 61), -19px 19px rgb(223, 223, 223), -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223);
    }
    25% {
        box-shadow: -19px 19px rgb(223, 223, 223), -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223), 19px 19px rgb(248, 23, 61);
    }
    50% {
        box-shadow: -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223), 19px 19px rgb(248, 23, 61), -19px 19px rgb(223, 223, 223);
    }
    75% {
        box-shadow: 19px -19px #dfdfdf, 19px 19px #4f4d49, -19px 19px #dfdfdf, -19px -19px #4f4d49;
    }
}

@-ms-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 19px 19px rgb(248, 23, 61), -19px 19px rgb(223, 223, 223), -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223);
    }
    25% {
        box-shadow: -19px 19px rgb(223, 223, 223), -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223), 19px 19px rgb(248, 23, 61);
    }
    50% {
        box-shadow: -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223), 19px 19px rgb(248, 23, 61), -19px 19px rgb(223, 223, 223);
    }
    75% {
        box-shadow: 19px -19px #dfdfdf, 19px 19px #4f4d49, -19px 19px #dfdfdf, -19px -19px #4f4d49;
    }
}

@-webkit-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 19px 19px rgb(248, 23, 61), -19px 19px rgb(223, 223, 223), -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223);
    }
    25% {
        box-shadow: -19px 19px rgb(223, 223, 223), -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223), 19px 19px rgb(248, 23, 61);
    }
    50% {
        box-shadow: -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223), 19px 19px rgb(248, 23, 61), -19px 19px rgb(223, 223, 223);
    }
    75% {
        box-shadow: 19px -19px #dfdfdf, 19px 19px #4f4d49, -19px 19px #dfdfdf, -19px -19px #4f4d49;
    }
}

@-moz-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 19px 19px rgb(248, 23, 61), -19px 19px rgb(223, 223, 223), -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223);
    }
    25% {
        box-shadow: -19px 19px rgb(223, 223, 223), -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223), 19px 19px rgb(248, 23, 61);
    }
    50% {
        box-shadow: -19px -19px rgb(248, 23, 61), 19px -19px rgb(223, 223, 223), 19px 19px rgb(248, 23, 61), -19px 19px rgb(223, 223, 223);
    }
    75% {
        box-shadow: 19px -19px #dfdfdf, 19px 19px #4f4d49, -19px 19px #dfdfdf, -19px -19px #4f4d49;
    }
}

.input-block {
    margin-bottom: 3px;
}
.input-block input {
    margin: 0;
}
.input-block input[type="text"] {
    width:30px;
    height:7px;
}

.text-short, .text-short .cell-text{
    width: 100px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-left {
    text-align: left;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}
