<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base href="{{ APP_HOST }}/" />

    {% block head %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}

    <link rel="stylesheet" href="content/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="content/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="content/vendor/DataTables/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="content/vendor/select2/css/select2.min.css"/>
    <link rel="stylesheet" href="content/style/page.css">

    <script type="text/javascript" src="content/vendor/jQuery-3.6.0/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="content/vendor/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="content/vendor/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="content/vendor/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="content/vendor/select2/js/i18n/ru.js"></script>
    <script type="text/javascript" src="content/js/system.js"></script>

    {% block style %}{% endblock %}
</head>

<body>

    <div id="loading"><div class="pe-loader"></div></div>
    <div id="window"></div>

    <div class="panel">
        <div class="panel_top">
            <a href="#">Каталог</a>
            <a href="#">Магазины</a>
            <a href="#">Категории</a>
            <a href="#">Бренды</a>
            <a href="#">Пользователи</a>
            <a href="#">Отзывы</a>
            <a href="#">SEO</a>
            <a href="#">Настройки</a>
            <a style="border:0;" href="#">Выход</a>
        </div>

        {% block panel %}{% endblock %}
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    {% block footer %}{% endblock %}

    <script type="text/javascript">
        var sys = new system();
        sys.config.storeSettings({host: '{{ APP_HOST }}'})

        toastr.options = {
            "closeButton": true,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": true,
            "timeOut": "2000",
        }
    </script>

    {% block javascript %}{% endblock %}
</body>
</html>
