{% extends "/system/base.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
        .important { color: #994b33; font-size: large }
    </style>
{% endblock %}
{% block content %}
    <p class="important">
        {{ message }}
    </p>
{% endblock %}
