{% extends "page.twig" %}

{% block title %}
    Price Manager
{% endblock %}

{% block head %}
    <script type="text/javascript" src="content/js/productPage.js"></script>
    <script type="text/javascript" src="content/js/productForm.js"></script>
    <script type="text/javascript" src="content/js/settingsPage.js"></script>
{% endblock %}

{% block panel %}
    <div style="position: fixed; right: 20px;">
        <div class="last-upd-filter">
            Фильтр:
            <a class="last-upd-filter-control" data-type="0" href="#">Все</a> /
            <a class="last-upd-filter-control" data-type="1" href="#">Давно не обновлялись</a> /
            <a class="last-upd-filter-control" data-type="2" href="#">Обновлялись сегодня</a>{# /
            <a class="last-upd-filter-control" data-type="3" href="#">Удаленные</a>#}
        </div>

        <p class="errpanel"></p><p><span id="search-count"></span></p>
    </div>

    <div>
        Всего: <span id="total-records">0</span> ::
        <a class="open-product-form" href="#">Добавить товар</a> ::
        <a id="table-settings" href="#">Настройки</a><br/>

        <form id="searchform" style="display: inline;">
            <input class="input2 search" type="text" name="search" placeholder="ID, название или модель"><input class="button" type="submit" value="Искать">
        </form>
        <form style="display: inline;" name="filter-form">
        &nbsp&nbsp::&nbsp&nbsp Категория
            <select class="input2 select-filter" style="width: 150px;" name="category"></select>
        &nbsp&nbsp::&nbsp&nbsp Бренд
            <select class="input2 select-filter" style="width: 150px;" name="brand"></select>

            <span id="reset-all-filters">&nbsp&nbsp::&nbsp&nbsp <a href="#">Сбросить все фильтры</a></span>
        </form>
        <div class="selected_operation">
            <span id="records-info">0</span> найденых
            <span id="change-selected-rows"> :: С отмеченными:
                <select id="change-status" class="input2" style="width: 100px;margin:0">
                    <option value="1">Включить</option>
                    <option value="0">Выключить</option>
                </select>
                <input id="change-selected-rows-apply" class="button" type="button" value="Применить">
            </span>
        </div>
    </div>
    <div class="table-header-context-menu window_block">
        <u>Показать:</u>
        <a href="#" data-type="1">За сегодня</a>
        <a href="#" data-type="2">За вчера</a>
        <a href="#" data-type="3">За месяц</a>
        <a href="#" data-type="4">За год</a>
    </div>
{% endblock %}

{% block content %}
    <div id="table-paging" class="navi"></div>
    <div id="table_block">
        <table id="price_table" class="display table-striped compact text-center" style="width:100%"></table>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    let pp = new productPage();
</script>
{% endblock %}

{% block style %}
<style>
    #table_block .info {
        float: left;
        padding-left: 10px;
    }

    #table_block .paging {
        float: right;
    }

    #table_block .tbl-block{
        padding-top: 50px;
    }
    .search {
        margin-right: 5px;
    }
</style>
{% endblock %}

