<div class="window_close">
    <a class="window-close" style="color:white" href="#">Закрыть</a>
</div>

<div class="block" style="width: 500px;">
    <h2>
        {% if productId > 0 %} Редактировать {% else %} Добавить {% endif %} товар {% if productId > 0 %}
            <span title="{{ dataFields.name.value }}">({{ productId }})</span> {% endif %}
    </h2>

    <form id="product-form" method="post" action="#">
        <div class="block" style="position: absolute; width: 220px; border: 0; margin-left: 520px; top: 2px;">
            <h2>Изображения</h2>
            {% if images|length > 0 %}
            <img class="cover" src="{{ images[0] }}">
            {% endif %}

            <input class="input" style="width:95%;" type="text" name="images[]" placeholder="URL" value="{{ images[0] }}">
            <p><b>Дополнительные изображения:</b></p>
            <a id="add-image" href="#" class="button" >Добавить изображение</a>
            <div id="additional-images" style="overflow: auto;height: 406px;margin-top: 10px">
                <div class="new-image" style="display: none">
                    <img class="moreimg">
                    <input class="input" style="width:79%; float: left;" type="text" name="images[]" placeholder="URL" disabled>
                    <a style="float: right; padding: 10px; color: red;" class="remove_field" href="#"><b>x</b></a>
                </div>

                {% if images|length  > 0 %}
                    {% for image in images[1:] %}
                        <div>
                            <img class="moreimg" src="{{ image }}">
                            <img class="moreimg">
                            <input class="input" style="width:79%; float: left;" type="text" name="images[]" placeholder="URL"
                                   value="{{ image }}">
                            <a style="float: right; padding: 10px; color: red;" class="remove_field" href="#"><b>x</b></a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="columns" style="overflow: auto;height: 600px;margin-top: 10px;">
        {% for field_name, field in dataFields %}
            {% if field_name != 'images' %}
            <div style="margin-bottom: 5px">
                <b>{{ field_name  }}</b>
                <input name="{{ field_name }}" value="{{ field.value }}" class="input item-field" type="text">
            </div>
            {% endif %}
        {% endfor %}
        </div>
        <input name="id" type="hidden" value="{{ productId }}">
        <input id="submit" class="button" type="submit" value="Сохранить">
    </form>
</div>

<script type="text/javascript">
    $(function() {
        new productForm();
    });
</script>
