<div class="window_close">
    <a class="window-close" style="color:white;" href="#">Закрыть</a>
</div>

<div class="block" style=";width: 350px">
    <h2>Редактирование таблицы</h2>
    <form id="table-config-form" method="post" action="#" >
        <div class="block" style="position: absolute; width: 350px; border: 0; margin-left: 370px; top: 1px;">
            <h2>Настройки</h2>

            <div class="input-block">
                <input id="page_length" value="10" data-item="page_length" data-type="settings"
                       class="input2 cnf-option" type="text" maxlength="4">
                <label>Количество записей на страницу</label>
            </div>

            <div class="input-block">
                <input id="showing_html" type="checkbox" value="1" class="cnf-option" data-item="showing_html" data-type="settings">
                <label for="showing_html">Отображать HTML код в описании</label>
            </div>

            <div class="input-block">
                <input id="all_images" type="checkbox" value="1" class="cnf-option" data-item="all_images" data-type="settings">
                <label for="all_images">Отображать  дополнительные изображения</label>
            </div>

            <div class="input-block">
                <select id="images_size" class="input2 cnf-option" style="padding:1px;margin:0;" data-item="images_size" data-type="settings">
                    <option value="1">50х50</option>
                    <option value="2" selected>100х100</option>
                    <option value="3">150х150</option>
                    <option value="4">200х200</option>
                </select>
                <label for="images_size">Размер изображений</label>
            </div>

            <div class="input-block">
                <input id="category_delimiter" value="10" data-item="category_delimiter" data-type="settings"
                       class="input2 cnf-option" type="text">
                <label for="category_delimiter">Разделитель для категорий</label>
            </div>

            <input id="submit" class="button" type="submit" value="Сохранить" style="float:right;" maxlength="10">

            <div style="clear:right"></div>
        </div>

        <div class="columns" style="overflow: auto;height: 600px;margin-top: 10px;">
            {% for column in columns %}
                <div style="width: 312px; border-bottom: 1px solid #0ea7a0; padding-bottom: 5px">
                    {{ column.name }}: <input id="cnf_name_{{ column.name }}" data-item="{{ column.name }}" data-type="name" value="{{ column.name }}"
                                              class="input2 cnf-option" type="text" style="width:200px;height: 7px;
                    margin:5px;"><br>

                    <input id="cnf_showing_{{ column.name }}" data-item="{{ column.name }}" data-type="visible" type="checkbox" value="1" class="cnf-option" checked>
                    <label for="cnf_showing_{{ column.name }}">Отображать</label>

                    <input id="cnf_orderable_{{ column.name }}" data-item="{{ column.name }}" data-type="orderable" type="checkbox" value="1" class="cnf-option"
                           {% if column.name == 'id' %}checked{% endif %}>
                    <label for="cnf_orderable_{{ column.name }}">Сортировка</label>
                </div>
            {% endfor %}
        </div>

        <div class="err"></div>
    </form>
</div>

<script type="text/javascript">
    $(function() {
        let sp = new settingsPage();


    });
</script>
